{% extends "base.html" %}
{% block content %}
<div class="container mt-0">
    <div class="row breadcrumb-bar">
        <div class="col-md-6">
            <h3 class="block-title">Doctor Details</h3>
        </div>
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">
                        <span class="ti-home"></span>
                    </a>
                </li>
                <li class="breadcrumb-item">Doctors</li>
                <li class="breadcrumb-item active">Doctor Details</li>
            </ol>
        </div>
    </div>
</div>
<!-- /Page Title -->

<!-- /Breadcrumb -->
<!-- Main Content -->
<div class="container">

<div class="row">
    <!-- Widget Item -->
    <div class="col-md-12">
        <div class="widget-area-2 proclinic-box-shadow">
            <h3 class="widget-title">Doctor Details</h3>
            <div class="row no-mp">
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img class="card-img-top" src="/media/{{doctor.image}}" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">{{doctor.doctor_name}}</h4>
                            <p class="card-text">{{doctor.about_doctor}}</p>
                            <button type="button" class="btn btn-success mb-2"><span class="ti-pencil-alt"></span> <a href="{% url 'doctor_edit' doctor.id %}"> edit</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <td><strong>Specialization</strong></td>
                                    <td>{{doctor.specialization.name}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Experience</strong></td>
                                    <td>{{doctor.experience}} Years</td>
                                </tr>
                                <tr>
                                    <td><strong>Gender</strong></td>
                                    <td>{{doctor.gender}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Address</strong></td>
                                    <td>{{doctor.address}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Phone</strong> </td>
                                    <td>{{doctor.phone_nnumber}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Date Of Birth</strong> </td>
                                    <td>{{doctor.date_of_birth}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Email</strong></td>
                                    <td>{{doctor.email}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <!--Export links-->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center export-pagination">
                                <li class="page-item">
                                    <a class="page-link" href="{% url 'doctor_edit' doctor.id %}"><span class="ti-download"></span> edit</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><span class="ti-printer"></span> print</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><span class="ti-file"></span> PDF</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><span class="ti-align-justify"></span> Excel</a>
                                </li>
                            </ul>
                        </nav>
                        <!-- /Export links-->
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /Widget Item -->
    <!-- Widget Item -->
    <div class="col-md-12">
        <div class="widget-area-2 proclinic-box-shadow">
            <h3 class="widget-title">Doctor Activity</h3>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Patient Name</th>
                            <th>Injury/Condition</th>
                            <th>Visit Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for k in appointment %}
                        <tr>
                            <td>{{k.Patient.patient_name}}</td>
                            <td>{{k.Problem}}</td>
                            <td>{{k.visit_date}}</td>
                            <td>{{k.status}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!--Export links-->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center export-pagination">
                        <li class="page-item">
                            <a class="page-link" href="#"><span class="ti-download"></span> csv</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#"><span class="ti-printer"></span> print</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#"><span class="ti-file"></span> PDF</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#"><span class="ti-align-justify"></span> Excel</a>
                        </li>
                    </ul>
                </nav>
                <!-- /Export links-->
            </div>
        </div>
    </div>
    <!-- /Widget Item -->
</div>
</div>
{% endblock content %}