{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="row">
        <!-- Widget Item -->
        <div class="col-md-6">
            <div class="widget-area-2 proclinic-box-shadow">
                <h3 class="widget-title">Patient Details</h3>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>											
                                <td><strong>Name</strong></td>
                                <td>{{patient.patient_name}}</td>
                            </tr>
                            <tr>
                                <td><strong>Date Of Birth</strong> </td>
                                <td>{{patient.Date_of_birth}}</td>
                            </tr>
                            <tr>
                                <td><strong>Gender</strong></td>
                                <td>{{patient.gender}}</td>
                            </tr>
                            <tr>
                                <td><strong>Address</strong></td>
                                <td>{{patient.Address}}</td>
                            </tr>
                            <tr>
                                <td><strong>Phone </strong></td>
                                <td>{{patient.phone_number}}</td>
                            </tr>
                            <tr>
                                <td><strong>Email</strong></td>
                                <td>{{patient.Email}}</td>
                            </tr>									
                        </tbody>
                    </table>
                </div>
                
                    <!--Export links-->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center export-pagination">
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-download"></span> csv</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-printer"></span>  print</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-file"></span> PDF</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-align-justify"></span> Excel</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /Export links-->
                <button type="button" class="btn btn-success mb-3"><span class="ti-pencil-alt"></span><a href="{% url 'patient_edit' patient.id %}">Edit Patient</a></button>
            </div>
        </div>
        <!-- /Widget Item -->
        <!-- Widget Item -->
        <div class="col-md-6">
            <div class="widget-area-2 proclinic-box-shadow">
                <h3 class="widget-title">Patient Visits</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>										
                                <th>Doctor Name</th>
                                <th>Cost</th>
                                <th>Visit Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for k in doctor %}            
                            <tr>											
                                <td>{{k.Doctor_name.doctor_name}}</td>
                                <td>&#8377; {{k.Doctor_name.consultation_fee}}</td>
                                <td>{{k.visit_date}}</td>
                                
                                {% if k.visit %}
                                <td>Visited</td>
                                {% else %}
                                <td>{{k.status}}</td>
                                    
                                {% endif %}
                                    
                                
                            </tr>  
                            {% endfor %}          									
                        </tbody>
                    </table>
                    
                    <!--Export links-->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center export-pagination">
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-download"></span> csv</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-printer"></span>  print</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-file"></span> PDF</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-align-justify"></span> Excel</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /Export links-->
                </div>
            </div>
        </div>
        <!-- /Widget Item -->
         <!-- Widget Item -->
        
        <!-- /Widget Item -->
    </div>
</div>
{% endblock content %}
    